    @charset "UTF-8";

    * {
        font-family: Arial, Helvetica, sans-serif;
    }
    main{
        background-color: white;
        width: 600px;
        padding: 10px;
        margin: auto;
    }
    body{
            background-image: linear-gradient(to right, white, rgb(64, 209, 235));
        }
    h1,h2{
        text-align: center;
        text-shadow: 1px 1px 2px black;
    }
    p{
        text-align: justify;
        text-indent: 30px;
    }
    div{
        margin: auto;
        background-color: rgb(166, 219, 255);
        border: 1px solid black;
        text-align: center;
        height: 200px;
        width: 250px;

    }
    div:hover{
        background-color: white;
    }
  img{
    
      height: 200px;
      width: 250px;
  }
  img:hover{
    opacity: 0.5;
  }